<ul *ngIf="paginas?.length>0" class="pagination">
  <li class="page-item" *ngIf="paginador.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1]">&laquo;</a>
  </li>

  <li class="page-item" [ngClass]="paginador.first?'disabled':''">
    <a class="page-link" [routerLink]="['/clientes/page',0]">Primera</a>
  </li>

  <li *ngFor="let numeroPagina of paginas" class="page-item" [ngClass]="numeroPagina-1 == paginador.number?'active':''">
    <span *ngIf="numeroPagina-1 == paginador.number" class="page-link">{{numeroPagina}}</span>
    <a [routerLink]="['/clientes/page', numeroPagina-1]" *ngIf="numeroPagina-1 != paginador.number" class="page-link">{{numeroPagina}}</a>
  </li>

  <li class="page-item" [ngClass]="paginador.last?'disabled':''">
    <a class="page-link" [routerLink]="['/clientes/page',paginador.totalPages-1]">Última</a>
  </li>

  <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1]">&raquo;</a>
  </li>
</ul>
