<div class="abrir-modal animacion fadeIn" *ngIf="modalActivo()">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button type="button" (click)="cerarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">

              <div class="col-sm">

                <ul *ngIf="cliente" class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{cliente.nombre}}</li>
                  <li class="list-group-item">{{cliente.apellido}}</li>
                  <li class="list-group-item">{{cliente.email}}</li>
                  <li class="list-group-item">{{cliente.createAt}}</li>
                  <li class="list-group-item">{{cliente.region.nombre}}</li>
                </ul>
                <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                      id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary"
                      type="button" id="inputGroupFileAddon04">Subir</button>
                  </div>
                </div>

                <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progreso + '%'}"
                    attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">{{progreso}}</div>
                </div>

              </div>
              <div class="col-sm">
                <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}"
                  alt="{{cliente.foto}}" class="img-thumbnail rounded" />
              </div>

            </div>

            <div class="row" *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button type="button" [routerLink]="['/facturas/form/', cliente.id]" class="btn btn-dark btn-sm">Crear Factura</button>
            </div>

            <div class="row">

              <div class="alert alert-info my-4" *ngIf="cliente.facturas.length == 0">
                No hay facturas asociadas al cliente {{cliente.nombre}} {{cliente.apellido}}
              </div>

              <table class="table table-bordered table-striped my-4" *ngIf="cliente.facturas.length > 0">
                <thead>
                  <tr>
                    <th>Folio</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let factura of cliente.facturas">
                    <td>{{factura.id}}</td>
                    <td>{{factura.descripcion}}</td>
                    <td>{{factura.createAt}}</td>
                    <td>{{factura.total}}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/facturas', factura.id]">ver</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                      <button class="btn btn-danger btn-sm" type="button" (click)="delete(factura)">eliminar</button>
                    </td>
                  </tr>
                </tbody>

              </table>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerarModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
