<button type="button" class="btn btn-primary my-2" (click)="setHabilitar()">{{habilitar == true? 'Ocultar' : 'Mostrar'}}</button>
<div class="card my-3">
  <div class="card-header">
    Listado de cursos
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class="list-group-item" *ngFor="let curso of listaCurso">{{ curso }}</li>
  </ul>
</div>
