<div class="card border-primary text-center">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form method="POST">

      <div class="form-group col-sm-6">
        <input [(ngModel)]="usuario.username" type="text" class="form-control" name="username" id="username"
          placeholder="Nombre de usuario" autofocus required />
      </div>

      <div class="form-group col-sm-6">
        <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password"
          placeholder="Contraseña" required />
      </div>

      <div class="form-group col-sm-6">
        <input type="submit" (click)='login()' class="btn btn-lg btn-primary btn-block" value="Login" />
      </div>
    </form>
  </div>

</div>
