<app-detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle-cliente>

<div class="card border-info mb-3 my-2">
  <div class="card-header">Clientes</div>
  <div class="card-body text-info">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" *ngIf="authService.hasRole('ROLE_ADMIN')"
        [routerLink]="['/clientes/form']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped py-2 table-sm" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">Id </th>
          <th *ngIf="authService.hasRole('ROLE_USER')">Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_USER')"><button type="button" class="btn btn-warning btn-sm"
              (click)="abrirModal(cliente)">{{cliente.id}}</button></td>
          <!---->
          <td *ngIf="authService.hasRole('ROLE_USER')"><img *ngIf="cliente?.foto"
              src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
              class="img-thumbnail rounded" (click)="abrirModal(cliente)" style="width: 64px; cursor: pointer" />

            <img *ngIf="!cliente?.foto" src="http://localhost:8080/images/no_photo.png" alt="Sin Foto"
              class="img-thumbnail rounded" (click)="abrirModal(cliente)" style="width: 64px; cursor: pointer" />
          </td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <!-- <td>{{cliente.apellido | uppercase}}</td> para pasarlo a mayusculas en la vista -->
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt}}</td> <!-- <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td> -->
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button"
              [routerLink]="['/facturas/form/', cliente.id]" class="btn btn-dark btn-sm">Crear Factura</button></td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" name="editar"
              class="btn btn-success btn-sm" [routerLink]="['/clientes/form', cliente.id]">Editar</button></td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" name="eliminar"
              class="btn btn-danger btn-sm" (click)='delete(cliente)'>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <app-paginator-nav *ngIf="paginador" [paginador]="paginador"></app-paginator-nav>
  </div>
</div>
