<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">{{ err }}</li>
</ul>
<div class="card bg-success text-white my-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre"
            #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">Nombre es requerido</div>
            <div *ngIf="nombre.errors.minlength">Nombre debe tener al menos 4 caracteres</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido"
            #apellido="ngModel"> <!-- required minlength="2" -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">Apellido es requerido</div>
            <div *ngIf="apellido.errors.minlength">Apellido debe tener al menos 2 caracteres</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Correo</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" name="emain" [(ngModel)]="cliente.email" #email="ngModel">
          <!-- email required -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">Correo es requerido</div>
            <div *ngIf="email.errors.email">Correo debe tener un formato válido</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatepicker" class="form-control" id="createAt" name="createAt"
            [(ngModel)]="cliente.createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" id="region" name="region"
            [(ngModel)]="cliente.region" style="width:500px;">
            <option [ngValue]="undefined">--- Seleccionar una región ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-dark" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock"
            [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-dark" role="button" (click)='update()'
              [disabled]="!clienteForm.form.valid">Actualizar</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>

</div>
